/*-- ****************************************************** -->
<---                      FOOTER.MODULE.CSS                        -->
<--- ************************************************************* -*/

.footer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}